.body{
    background-color:#b3f4ec;
}
.cuadro{
    margin: 5px;

    padding: 10px;
    box-shadow: 5px 5px 5px rgb(128, 122, 122);
    margin-left: 500px;
    margin-right: 500px;
    background-color:#1ce5cb;
    text-align: center;
}
.input{
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(128, 122, 122);
    background-color: #8fffe9;

}
h1{
    color: blueviolet;
    text-align: center;
}