body {
  text-align: center;
  background-image: url("fondo.webp");
}

h1 {
  font-size: 2rem;
  background: linear-gradient(to right, #000000, #000000, #98fb98);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: mover 3s infinite alternate;
  text-align: center;
}

.boton-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no caben en una sola fila */
}

.boton1,
.boton2 {
  margin: 20px 10px;
  width: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton1 {
  background-color: #ff69b4;
  color: white;
}

.boton2 {
  background-color: #10b951;
  color: white;
}

.boton1:hover,
.boton2:hover {
  background-color: #d46a9e;
}

@media screen and (max-width: 600px) {
    body {
      text-align: center;
      background-image: url("fondo.webp"); 
      width: 100%;
    }
    
    h1 {
      font-size: 2rem;
      background: linear-gradient(to right, #000000, #000000, #98fb98);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: mover 4s infinite alternate;
      text-align: center;
    }
    
    .boton-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no caben en una sola fila */
    }
    
    .boton1,
    .boton2 {
      margin: 20px 10px;
      width: 10%;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .boton1 {
      background-color: #ff69b4;
      color: white;
    }
    
    .boton2 {
      background-color: #10b951;
      color: white;
    }
    
    .boton1:hover,
    .boton2:hover {
      background-color: #d46a9e;
    }
  }
  .boton1,
  .boton2 {
    width: 80%;
    margin: 10px auto;
  }

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
